<h1>Dodaj wydatek</h1>

<form novalidate class="add-expense-container" [formGroup]="newExpense" (ngSubmit)="onAddButtonClick()">
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="selectedDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Kategoria" formControlName="selectedCategory">
            <mat-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Kwota" type="text" formControlName="amount"/>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Opis" type="text" formControlName="description"/>
    </mat-form-field>
    <button type="submit" [disabled]="newExpense.invalid" mat-raised-button color="primary" >Dodaj</button>
</form>