<h1>Obecny budżet</h1>

<p>Początek okresu: {{budgetPlan.startDate | date: 'shortDate' }}</p>
<p>Koniec okresu: {{budgetPlan.endDate | date: 'shortDate' }}</p>


    <div class="panel panel-default" *ngFor="let category of budgetPlan.categories; let i = index">
        <div class="panel-heading" data-toggle="collapse" [attr.data-target]="'#collapseExample-' + i" aria-expanded="false" [attr.aria-controls]="'collapseExample-' + i">{{category.categoryName}}</div>
        <div class="panel-body collapse" [attr.id]="'collapseExample-' + i">
            <ul class="list-group">
                <li class="list-group-item">Początkowy budżet: {{category.startAmount | number:'1.2-2'}}</li>
                <li class="list-group-item">Wydano: {{category.spentAmount | number:'1.2-2'}}</li>
                <li class="list-group-item">Pozostało: {{category.startAmount - category.spentAmount | number:'1.2-2'}}</li>
            </ul>
        </div>
    </div>