<h1>Obecny budżet</h1>

<p>Początek okresu: {{budgetPlan.startDate | date: 'shortDate' }}</p>
<p>Koniec okresu: {{budgetPlan.endDate | date: 'shortDate' }}</p>

<ul>
    <li *ngFor="let category of budgetPlan.categories">
        <strong>{{category.categoryName}}</strong>
        <ul>
            <li>Początkowy budżet: {{category.startAmount | number:'1.2-2'}}</li>
            <li>Wydano: {{category.spentAmount | number:'1.2-2'}}</li>
            <li>Pozostało: {{category.startAmount - category.spentAmount | number:'1.2-2'}}</li>
        </ul>
    </li>
</ul>